# Cotiviti Assesment
Built by Blake Hamm <br>
4 August 2021

In [5]:
## Load Packages
import pandas as pd
import numpy as np

In [8]:
# Load Data
df = pd.read_csv("/home/blakejhamm/Documents/Jobs/cotiviti_test/ASSESSMENT_DATA.csv", 
                 usecols = ['X','Y'])

## Exploratory Data Analysis
This section explores the given data focusing on the distribution and potential outliers.

In [9]:
# View data
display(df.head())
print(df.shape)
print(df.columns)

          X          Y
0  0.113169  -0.267085
1  3.301015  12.945851
2  3.999341  16.419243
3  3.288918   6.950318
4  2.760255  -4.311010

(500, 2)
Index(['X', 'Y'], dtype='object')